#header-special{
  height: 80vh;
  width: 25%;
}

#logo-special{
  width: 17%;
  height: 13vh;
  margin-top: 1%;
	margin-left: 3%;
}

#logo-text-special{
  font-size: 500%;
  color: black;
  text-align: center;
	font-family: "Vintage";
}

#special-bar, #special-bar a{
font-size: 150%;
text-decoration: none;
font-family: "Vintage";
margin-left: 2%;
margin-top: 1%;
color: black;
}

#special-bar a:hover{
  color: 
}
