<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <form action="/" method="POST">
        <label>Username</label>
        <input placeholder="Username" id="username" name="username">
        <br>
        <label>Password</label>
        <input placeholder="Password" type="password" id="password" name="password">
        
        <button type="submit">Login</button>
        <br>
        <br>
        <label> Username </label>
        <input placeholder="Username " id="skapaUsername" type="username">
        <br>
        <label> Lösenord </label>
        <input placeholder="Password" type="password" id="skapaPassword" name="password">
        <br>
        <label> Konfirmera Lösenord </label>
        <input placeholder="Repeater password" type="password" id="confirmPassword" name="password">
        <br>
        <input type="submit" value="Skapa konto">
    </form>
</body>
</html>